*/__pycache__/
backend/models/*
store_data/*
# backend/.env
*.pyc
*.pyo
*.pack
*.cache

# Node.js / React
node_modules/
frontend/node_modules/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.env.local
.env.development
.env.test
.env.production
dist/
build/
.cache/


# Python / Flask
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyenv
*.venv
venv/
env/
.venv/
*.egg-info/
*.sqlite3
*.db
instance/


# IDE
.idea/
.vscode/
*.swp
*.swo

# System
Thumbs.db